@model IEnumerable<Parfume.Models.Order>
@{
    ViewData["Title"] = "History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="~/CustomScript/Scripts/HistoryCach.js?v=5"></script>

<div class="card" style="overflow:auto">
    <div class="card-body pb-4">
        <table id="table" class="table table-hover table-bordered ">
            <thead>
                <tr>
                    <th style="width:80px; ">№<br /><input type="text" placeholder="Axtar" class="form-control" /></th>
                    <th style="width:180px; ">Satıcının adı, soyadı, ata adı <br /><input type="text" placeholder="Axtar" class="form-control" /></th>
                    <th style="width:180px; ">Alıcının adı, soyadı, ata adı <br /><input type="text" placeholder="Axtar" class="form-control" /></th>
                    <th>Alıcının fin kodu<br /><input type="text" placeholder="Axtar" class="form-control" /></th>
                    <th>Alıcının nömrəsi<br /><input type="text" placeholder="Axtar" class="form-control" /></th>
                    <th>Məhsulun adı  <br /><input type="text" placeholder="Axtar" class="form-control" /></th>
                    <th>Miqdarı  <br /><input type="text" placeholder="Axtar" class="form-control" /></th>
                    <th>Qiyməti<br /><input type="text" placeholder="Axtar" class="form-control" /></th>
                    <th>Toplam qiyməti<br /><input type="text" placeholder="Axtar" class="form-control" /></th>
                    <th>Borcu<br /><input type="text" placeholder="Axtar" class="form-control" /></th>
                    <th>Tarix<br /><input type="text" placeholder="Axtar" class="form-control" /></th>
                    <th>Əməliyyat<br /><input type="text" placeholder="Axtar" class="form-control" /></th>

                </tr>
            </thead>
            <tbody class="TableBodyDetails">
                @{ var index = 1;}
                @foreach (var item in Model)
                {

                    <tr data-href="@Url.Action("HistoryDetails","Home",new {orderId=item.Id })">
                        <td>@index</td>
                        <td>@item.User.Name @item.User.Surname @item.User.FatherName </td>
                        <td>@item.Customer.Name @item.Customer.Surname @item.Customer.FatherName </td>
                        <td>@item.Customer.Fincode</td>
                        <td>@item.Customer.BaseNumber</td>
                        <td>@item.Name</td>
                        <td>@item.Amount</td>
                        <td>@item.Price</td>
                        <td>@item.TotalPrice</td>
                        <td>@item.Debt</td>
                        <td>@item.CreateDate.ToString("dd/MM/yyyy")</td>
                        @if (User.IsInRole("Admin"))
                        {
                            <td class="text-center removeOrder" data-OrderId="@item.Id"><a><i style="color:red" class="fas fa-trash-alt"></i></a></td>
                }
                else
                {
                    <td></td>
                }
                    </tr>
                    index++;
                }
            </tbody>
        </table>
    </div>
</div>

