@model Parfume.Models.Order

@{
    ViewData["Title"] = "Pay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/CustomScript/Scripts/PayOrder.js?v=3"></script>

<input hidden id="OrderId" value="@Model.Id" />
<div class=" contairner">
    <h3 class="mb-3   text-center">Müştəri məlumatları</h3>
    <div class="row text-center">
        <div class="col-3">
            <label class="labelColor">Adı</label>
            <input type="text" readonly class="form-control  text-center " value="@Model.Customer.Name" />
        </div>
        <div class="col-3">
            <label class="labelColor">Soyad</label>
            <input type="text" readonly class="form-control text-center  " value="@Model.Customer.Surname" />
        </div>
        <div class="col-2">
            <label class="labelColor">Fin</label>
            <input type="text" readonly class="form-control  text-center " value="@Model.Customer.Fincode" />
        </div>
        <div class="col-2">
            <label class="labelColor">Nömrəsi</label>
            <input type="text" readonly class="form-control  text-center " value="@Model.Customer.BaseNumber" />
        </div>
        <div class="col-2">
            <label class="labelColor">Instagram</label>
            <input type="text" readonly class="form-control  text-center " value="@Model.Customer.InstagramAddress" />
        </div>
        <div class="col-2">
            <label class="labelColor">Ödəmə tarixi</label>
            <input type="text" readonly class="form-control  text-center " value="@Model.PaymentDate?.ToString("dd/MM/yyyy")" />
        </div>
        <div class="col-2">
            <label class="labelColor">Ödəmə tarixi dəyiş</label>
            <input type="button" class="form-control  text-center " style="background-color: #c79957 " value="Edit" data-toggle="modal" data-target="#exampleModalCenter" />
        </div>
    </div>


    <h3 class="mb-3 mt-5 text-center">Sifariş məlumatları</h3>
    <div class="row text-center">
        <div class="col-3">
            <label class="labelColor">Parfumun adı</label>
            <input type="text" readonly class="form-control  text-center  " value="@Model.Name" />
        </div>
        <div class="col-2">
            <label class="labelColor">Satiş qiyməti</label>
            <input type="number" readonly class="form-control  text-center  " value="@Model.Price" />
        </div>
        <div class="col-2">
            <label class="labelColor">Məhsulun sayı</label>
            <input type="number" readonly class="form-control  text-center  " value="@Model.Amount" />
        </div>
        <div class="col-2">
            <label class="labelColor">Cəm qiyməti </label>
            <input type="number" readonly class="form-control  text-center  " value="@Model.TotalPrice" />
        </div>
        <div class="col-2">
            <label class="labelColor">İlkin ödəniş</label>
            <input type="number" readonly class="form-control  text-center  " value="@Model.FirstPrice" />
        </div>
        <div class="col-2">
            <label class="labelColor">Maya dəyəri</label>
            <input type="number" readonly class="form-control  text-center  " value="@Model.Cost" />
        </div>
        <div class="col-2">
            <label class="labelColor">Borc</label>
            <input type="number" readonly class="form-control  text-center  " value="@Model.Debt" />
        </div>
        <div class="col-2">
            <label class="labelColor">Ödəyəcəyı pul</label>
            <input type="number" class="form-control  price " value="@Model.MonthPrice" />
        </div>
        <div class="col-3">
            <label class="labelColor">Qeyd</label>
            <input type="text" class="form-control note " />
        </div>
        <div class="col-2 ">
            <label class="labelColor">Ödəniş tarixi</label>
            <div class="input-group date" id="datetimepicker3" data-target-input="nearest">
                <input type="text" required data-val-required="Vaxtı qeyd etməlisiz" id="Create_Date" class="form-control datetimepicker-input" data-target="#datetimepicker3" />
                <div class="input-group-append" data-target="#datetimepicker3" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
            </div>
        </div>
        <div class="col-2">
            <input type="button" class="btn PayOrder" style="background: #c79957;margin-top:12%;  width:100% " value="Ödə" />
        </div>
    </div>
    <br />
    <br />
    <br />

    <h3 class="mb-3 mt-5 text-center">Ödəniş tarixi</h3>
    <div class="row text-center mt-3">
        <table id="table" class="table table-hover table-bordered ">
            <thead>
                <tr>
                    <th style="width:80px; ">№<br /><input type="text" placeholder="Axtar" class="form-control" /></th>
                    <th>Ödəməli olduğu pulun miqdarı  <br /><input type="text" placeholder="Axtar" class="form-control" /></th>
                    <th>Ödədiyı pulun miqdarı  <br /><input type="text" placeholder="Axtar" class="form-control" /></th>
                    <th>Qeyd<br /><input type="text" placeholder="Axtar" class="form-control" /></th>
                    <th>Borc<br /><input type="text" placeholder="Axtar" class="form-control" /></th>
                    <th>Ödənişin qeydə alındığı tarix<br /><input type="text" placeholder="Axtar" class="form-control" /></th>
                    <th>Ödəniş etməli olduğu tarix<br /><input type="text" placeholder="Axtar" class="form-control" /></th>
                    <th>Ödəniş dəyişdir<br /><input type="text" placeholder="Axtar" class="form-control" /></th>
                </tr>
            </thead>
            <tbody class="TableBodyDetails">
                @{ var index = 1; string color = "";}
                @foreach (var item in Model.PaymentHistories)
                {
                    color = "";
                    if (item.Status)
                    {
                        color = "#36c336";
                    }

                    <tr style="background-color:@color" >
                        <td>@index</td>
                        <td>@item.MonthPrice</td>
                        <td>@item.PayPrice</td>
                        <td>@item.Note</td>
                        <td>@item.Debt</td>
                        <td>@item.PayDate?.ToString("dd/MM/yyyy")</td>
                        <td>@item.PaymentDate?.ToString("dd/MM/yyyy")</td>
                        <td>
                            @if (item.PayPrice != null)
                            {
                                <button type="button" class="btn btn-info changePay " data-href="@Url.Action("ChangePaymentPay","Order",new {payHistoryId=item.Id })" style=" background-color: #7c6e58 !important; width: 80px; ">
                                    Edit
                                </button>
                            }

                        </td>
                    </tr>
                    index++;
                }
            </tbody>
        </table>
    </div>

</div>
<!-- Modal -->

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Qeyd</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="number" min="0" class="form-control changeDay" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Bağla</button>
                <button type="button" class="btn btn-primary changeDate" value="@Model.Id">Təsdiqlə</button>
            </div>
        </div>
    </div>
</div>


<script src="~/CustomScript/Scripts/HomePay.js"></script>