@model IEnumerable<Parfume.Models.Customer>
@{
    var IsAdmin = User.IsInRole("Admin");
}
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    $(document).ready(function () {
        $(document).on("click", ".addCard", function () {
            window.location.href = $(this).attr('data-href');
        })
    })</script>

<div class="card" style="overflow:auto">
    <div class="card-body pb-4">
        <table id="table" class="table table-hover table-bordered ">
            <thead>
                <tr>
                    <th style="width:80px; ">№<br /><input type="text" placeholder="Axtar" class="form-control" /></th>
                    <th style="width:180px; ">Adı, soyadı, ata adı <br /><input type="text" placeholder="Axtar" class="form-control" /></th>
                    <th>Doğum tarixi<br /><input type="text" placeholder="Axtar" class="form-control" /></th>
                    <th>Fin<br /><input type="text" placeholder="Axtar" class="form-control" /></th>
                    <th>Nömrəsi<br /><input type="text" placeholder="Axtar" class="form-control" /></th>
                    <th style="width:80px; ">Sifariş sayı<br /><input type="text" placeholder="Axtar" class="form-control" /></th>
                    <th style="width:180px; ">Kim okeyliyib<br /><input type="text" placeholder="Axtar" class="form-control" /></th>
                    <th style="width:180px; ">Qeyd<br /><input type="text" placeholder="Axtar" class="form-control" /></th>
                    <th style="width:200px; ">Əməliyyat<br /> </th>
                </tr>
            </thead>
            <tbody class="TableBodyDetails">
                @{ var index = 1;}
                @foreach (var item in Model)
                {

                    <tr data-href="@Url.Action("CustomerDetails", "Customer", new { customerId = item.Id })">
                        <td>@index</td>
                        <td>@item.Name @item.Surname @item.FatherName  </td>
                        <td>@item.Birthday?.ToString("dd/MMMM/yyyy")</td>
                        <td>@item.Fincode</td>
                        <td>@item.BaseNumber</td>
                        <td>@item.Orders.Count</td>
                        <td>@item.WhoIsOkey</td>
                        <td>@item.Note</td>
                        <td>
                            @if (IsAdmin || User.IsInRole("Seller"))
                            {
                                <button type="button" class="btn btn-info addVip" data-href="@Url.Action("AddVipCustomer","Bonus",new {customerId=item.Id })" style="  width:80px; ">
                                    Add Vip
                                </button>
                            }

                        </td>

                    </tr>
                    index++;
                }
            </tbody>
        </table>
    </div>
</div>

<script src="~/CustomScript/Scripts/VIpIndex.js"></script>