@model IEnumerable<Parfume.Models.Customer>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<script>
    $(document).ready(function () {
        
        var table = $('#table').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'excelHtml5'
            ],
            "language": {
                "search": "",
                "emptyTable": "Heç bir məlumat yoxdur",
                "sSearchPlaceholder": "Axtar",
                "sLengthMenu": "_MENU_ sətir göstər",
                "paginate": {
                    "previous": "Əvvəlki",
                    "next": "Sonrakı",
                    "first": "Birinci",
                    "last": "Axırıncı"
                },
                "info": "_TOTAL_ sətirdən _START_-dən _END_-kimi göstərir",
                "infoEmpty": "0 nəticə",
                "infoFiltered": "( _MAX_ sətirdən filter olunub)",
                "zeroRecords": "Uyğun nətica tapılmadı",
            }
        });
        table.columns().every(function () {
            var that = this;
            $('input', this.header()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    that
                        .search(this.value)
                        .draw();
                }
            });
        });
        $('#table th input').on('click', function () {
            return false;
        });
    })</script>

<div class="card" style="overflow:auto">
    <div class="card-body pb-4">
        <table id="table" class="table table-hover table-bordered ">
            <thead>
                <tr>
                    <th>Adı, soyadı, ata adı <br /><input type="text" placeholder="Axtar" class="form-control" /></th>
                    <th>Fin<br /><input type="text" placeholder="Axtar" class="form-control" /></th>
                    <th>Nömrəsi<br /><input type="text" placeholder="Axtar" class="form-control" /></th>
                    <th>Sifariş sayı<br /><input type="text" placeholder="Axtar" class="form-control" /></th>
                    
                </tr>
            </thead>
            <tbody class="TableBodyDetails">
                @{ var index = 1;}
                @foreach (var item in Model)
                {

                    <tr data-href="@Url.Action("Details","Home",new {id=item.Id })">
                        <td>@index</td>
                        <td>@item.Name @item.Surname @item.FatherName  </td>
                        <td>@item.Fincode</td>
                        <td>@item.BaseNumber</td>
                        <td>@item.Orders.Count</td>

                    </tr>
                    index++;
                }
            </tbody>
        </table>
    </div>
</div>

<script>
     
    $(document).on("dblclick", ".TableBodyDetails tr", function () {
        window.location.href = $(this).attr('data-href');
    })

</script>